<ng-template #mcdDrawerContent>
    <div class="mdc-drawer__header">
        <button class="menu-button material-icons mdc-top-app-bar__navigation-icon mdc-icon-button" aria-label="Open navigation menu"
            (click)="toggle()">menu</button>
    </div>
    
    <div class="mdc-drawer__content">
        <nav class="mdc-list">
            <a class="mdc-list-item mdc-list-item--activated" href="#" aria-current="page" tabindex="0">
                <span class="mdc-list-item__ripple"></span>
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">inbox</i>
                <span class="mdc-list-item__text">Inbox</span>
            </a>

            <a class="mdc-list-item" href="#">
                <span class="mdc-list-item__ripple"></span>
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">star</i>
                <span class="mdc-list-item__text">Star</span>
            </a>

            <a class="mdc-list-item" href="#">
                <span class="mdc-list-item__ripple"></span>
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">send</i>
                <span class="mdc-list-item__text">Sent Mail</span>
            </a>

            <a class="mdc-list-item" href="#">
                <span class="mdc-list-item__ripple"></span>
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">drafts</i>
                <span class="mdc-list-item__text">Drafts</span>
            </a>

            <hr class="mdc-list-divider">

            <h6 class="mdc-list-group__subheader">Labels</h6>

            <a class="mdc-list-item" href="#">
                <span class="mdc-list-item__ripple"></span>
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">bookmark</i>
                <span class="mdc-list-item__text">Family</span>
            </a>

            <a class="mdc-list-item" href="#">
                <span class="mdc-list-item__ripple"></span>
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">bookmark</i>
                <span class="mdc-list-item__text">Friends</span>
            </a>

            <a class="mdc-list-item" href="#">
                <span class="mdc-list-item__ripple"></span>
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">bookmark</i>
                <span class="mdc-list-item__text">Work</span>
            </a>

            
            <hr class="mdc-list-divider">

            <h6 class="mdc-list-group__subheader">Labels</h6>

            <a class="mdc-list-item" href="#">
                <span class="mdc-list-item__ripple"></span>
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">bookmark</i>
                <span class="mdc-list-item__text">Family</span>
            </a>

            <a class="mdc-list-item" href="#">
                <span class="mdc-list-item__ripple"></span>
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">bookmark</i>
                <span class="mdc-list-item__text">Friends</span>
            </a>

            <a class="mdc-list-item" href="#">
                <span class="mdc-list-item__ripple"></span>
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">bookmark</i>
                <span class="mdc-list-item__text">Work</span>
            </a>

            
            <hr class="mdc-list-divider">

            <h6 class="mdc-list-group__subheader">Labels</h6>

            <a class="mdc-list-item" href="#">
                <span class="mdc-list-item__ripple"></span>
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">bookmark</i>
                <span class="mdc-list-item__text">Family</span>
            </a>

            <a class="mdc-list-item" href="#">
                <span class="mdc-list-item__ripple"></span>
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">bookmark</i>
                <span class="mdc-list-item__text">Friends</span>
            </a>

            <a class="mdc-list-item" href="#">
                <span class="mdc-list-item__ripple"></span>
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">bookmark</i>
                <span class="mdc-list-item__text">Work</span>
            </a>

            
            <hr class="mdc-list-divider">

            <h6 class="mdc-list-group__subheader">Labels</h6>

            <a class="mdc-list-item" href="#">
                <span class="mdc-list-item__ripple"></span>
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">bookmark</i>
                <span class="mdc-list-item__text">Family</span>
            </a>

            <a class="mdc-list-item" href="#">
                <span class="mdc-list-item__ripple"></span>
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">bookmark</i>
                <span class="mdc-list-item__text">Friends</span>
            </a>

            <a class="mdc-list-item" href="#">
                <span class="mdc-list-item__ripple"></span>
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">bookmark</i>
                <span class="mdc-list-item__text">Work</span>
            </a>

            
            <hr class="mdc-list-divider">

            <h6 class="mdc-list-group__subheader">Labels</h6>

            <a class="mdc-list-item" href="#">
                <span class="mdc-list-item__ripple"></span>
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">bookmark</i>
                <span class="mdc-list-item__text">Family</span>
            </a>

            <a class="mdc-list-item" href="#">
                <span class="mdc-list-item__ripple"></span>
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">bookmark</i>
                <span class="mdc-list-item__text">Friends</span>
            </a>

            <a class="mdc-list-item" href="#">
                <span class="mdc-list-item__ripple"></span>
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">bookmark</i>
                <span class="mdc-list-item__text">Work</span>
            </a>
        </nav>
    </div>
</ng-template>

<aside #drawer class="mdc-drawer mdc-drawer--dismissible" [class]="'mdc-drawer mdc-drawer--dismissible' + (useModal ? ' box-shadow' : '')">
    <ng-container *ngTemplateOutlet="mcdDrawerContent">
    </ng-container>
</aside>
<!-- 
<aside #drawer class="mdc-drawer mdc-drawer--modal">
    <ng-container *ngTemplateOutlet="mcdDrawerContent">
    </ng-container>
</aside> -->

<div *ngIf="useModal" (click)="close()" class="mdc-drawer-scrim"></div>
