$spacing: 32px;

// Theme: https://material.io/resources/color/#!/?view.left=0&view.right=0&primary.color=D32F2F&secondary.color=455A64
$primary: #d32f2f;
$accent: #455a64;
$white: white;
$error: red;
$backgroundColor: #303030;

$favButtonLength: 56px;
$smallFavButtonLength: 40px;

$touchAccessibleLength: 48px;
