/* You can add global styles to this file, and also import other style files */
$primary: #d32f2f;
$accent: #455a64;
$backgroundColor: #303030;

@use "@material/theme" with (
  $primary: $primary,
  $secondary: $accent,
  $background: $backgroundColor,
);
@use "material-components-web";

@import 'styles/material-components-overrides.scss';
@import 'styles/variables.scss';


// @use '@material/button/mdc-button';
// @use '@material/button';




// .foo-button {
//      @include button.container-fill-color(darksalmon);
// }



// /* You can add global styles to this file, and also import other style files */
// @import 'styles/theme.scss';
// @import 'styles/colors.scss';
// @import 'styles/variables.scss';
// @import 'styles/keyframes.scss';
// @import 'styles/drag-and-drop.scss';

:root {
    --app-height-100: 100vh;
    --app-height-95: 95vh;
    --app-height-50: 50vh;
}

.margin-top {
    margin-top: $spacing;
}

.margin-bottom {
    margin-bottom: $spacing;
}

html, body {
    margin: 0;
    padding: 0;

    // Removed height: 100% since this causes scroll event on window not to fire for safari
    // source: https://github.com/WickyNilliams/headroom.js/issues/127
    // height: 100%;
    
    min-height: 100vh;
    min-height: var(--app-height-100);

    background: $backgroundColor;
}

// // source: https://css-tricks.com/snippets/jquery/smooth-scrolling/
// html {
//     scroll-behavior: smooth;
// }

body {
    overflow-x: hidden;
    overflow-y: visible;

    // So the top nav and footer look better on iPhone X notches
    background: $white;

    width: 100%;

    // font-family: Roboto, "Helvetica Neue", sans-serif;

    font: 400 16px/22px Roboto, "Helvetica Neue", sans-serif;
}

// source: https://bugs.webkit.org/show_bug.cgi?id=153852 (Kareem Darkazanli 2020-04-01 19:37:31 PDT)
.js-lock-position {
    position: fixed;
    overflow: hidden;
}

// //scroll bar// TODO: Handle scrollbar
// body::-webkit-scrollbar-track
// {
//   // -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
//   border: 1px solid $gray2;
//   background-color: $white;
// }

// body::-webkit-scrollbar
// {
//   width: 12px;
//   background-color: $white;
// }

// body::-webkit-scrollbar-thumb
// {
//   background-color: $blue;
//   border-radius:2px;
 
// }

video, img, iframe {
    display: block;
    margin: 0;
    padding: 0;
}


// source: https://developer.mozilla.org/en-US/docs/Web/CSS/object-fit
// source: https://timonweb.com/tutorials/how-to-make-object-fit-cover-work-for-video-backgrounds-in-edge/
// source: https://redstapler.co/responsive-css-video-background/
.cover-fit {
    width: 100%;
    height: 100%;

    -o-object-fit: cover;
    object-fit: cover;
}

// source: https://caniuse.com/#feat=object-fit
// source: https://developer.mozilla.org/en-US/docs/Web/CSS/object-fit#Browser_compatibility
.cover-fit.polyfill, .cover-fit.ie {
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);

    height: auto;
    width: 100%;
    // better support for responsive images/videos ie 11 / edge
    // source: https://github.com/philipwalton/flexbugs/issues/75
    min-height: 1px;

    // Used for handling nested assets
    img, video {
        height: auto;
        width: 100%;
        // better support for responsive images/videos ie 11 / edge
        // source: https://github.com/philipwalton/flexbugs/issues/75
        min-height: 1px;
    }
}

@media (max-aspect-ratio: 16/9) {
// @media (max-aspect-ratio: 4/3) {
// @media (min-aspect-ratio: 16/9) {
    .cover-fit.polyfill, .cover-fit.ie {
        height: 100%;
        width: auto;
        // better support for responsive images/videos ie 11 / edge
        // source: https://github.com/philipwalton/flexbugs/issues/75
        min-width: 1px;

        // Used for handling nested assets
        img, video {
            height: 100%;
            width: auto;
            // better support for responsive images/videos ie 11 / edge
            // source: https://github.com/philipwalton/flexbugs/issues/75
            min-width: 1px;
        }
    }
}

iframe {
    border-width: 0;
}

.responsive, .responsive-height {
    height: 100%;
    width: auto;
    // better support for responsive images/videos ie 11 / edge
    // source: https://github.com/philipwalton/flexbugs/issues/75
    min-width: 1px;
}

.responsive-width {
    height: auto;
    // better support for responsive images/videos ie 11 / edge
    // source: https://github.com/philipwalton/flexbugs/issues/75
    min-height: 1px;
    width: 100%;
}

a {
    text-decoration: none;
    color: $primary;
}

// Remove (ugly) highlight styles on tap
div, a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

// .moo-slides-container {
//     .slides {
//         .slide {
//             padding: 0 10vw;
//             box-sizing: border-box;
//         }
//     }
// }

svg {
    fill: currentColor;
}

.snackbar-success {
    background: #4CAF50;
    color: white;
}

.snackbar-error {
    background: $error;
    color: black;
}

// @media only screen and (max-width: $desktop_width) {
//     // pass
// }

// @media only screen and (max-width: $tablet_width) and (orientation: portrait) {
//     .moo-slides-container {
//         .slides {
//             .slide {
//                 padding: 0 16px;
//                 box-sizing: border-box;
//             }
//         }
//     }
// }

// @media only screen and (max-width: $mobile_width) and (orientation: portrait) {
//     .moo-slides-container {
//         .slides {
//             .slide {
//                 padding: 0 4px;
//                 box-sizing: border-box;
//             }
//         }
//     }
// }

// @media only screen and (max-width: $landscape_width) and (max-height: $tablet_height) and (orientation: landscape) {
//     .moo-slides-container {
//         .slides {
//             .slide {
//                 padding: 0 16px;
//                 box-sizing: border-box;
//             }
//         }
//     }
// }

// @media only screen and (max-width: $landscape_width) and (max-height: $mobile_height) and (orientation: landscape) {
//     .moo-slides-container {
//         .slides {
//             .slide {
//                 padding: 0 4px;
//                 box-sizing: border-box;
//             }
//         }
//     }
// }
